<!DOCTYPE html>
<html>
  <head>
    <title>College</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="style.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <%= yield %>
    <footer><strong>Copyright &copy; 2022</strong>  <b>Design by</b> PramodPyati.</a></footer></div>
  </body>
</html>
